<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CARTA DE ADHESIÓN A PRINCIPIOS DE SOSTENIBILIDAD PARA           
    PROVEEDORES DEL ESTADO
  </title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 12pt;
      color: #333;
    }
    h1 {
      font-size: 12pt;
      text-align: center;
    }

    p {
      text-align: justify;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

  </style>
</head>

<body>

</br>
  <h1>CARTA DE ADHESIÓN A PRINCIPIOS DE SOSTENIBILIDAD PARA           
    PROVEEDORES DEL ESTADO</h1>

  <p>Yo, <strong>SERGEI PLOTNIKOFF DE LA GUARDIA</strong>, en calidad de representante legal del 
    <strong>CONSORCIO OBRAS CIVILES PANAMÁ</strong>, con ruc: <strong>8-NT-2-75-9889</strong>, conformado por
    empresas <strong>PINELLAS, S.A.</strong> con ruc: <u>525627-1-439268 DV 15</u> y 
    la empresa <strong>INMOBILIARIA EL PUENTE, S.A.</strong> con ruc: <u>972964-1-530321 DV 02</u> en el       
    desempeño de mi actividad profesional, asumo el compromiso de cumplir 
    cabalmente con los Principios de Sostenibilidad para Proveedores del Estado, 
    los cuales son asumidos mediante esta carta de adhesión, como un compromiso 
    personal y empresarial por mi persona y todos nuestros colaboradores, teniendo 
    la convicción de conducirnos, en nuestra actuación profesional y de trabajo 
    conforme         a estos principios, reconociendo además, que forman parte 
    integrante del pliego de cargos y serán de obligatorio cumplimiento durante 
    todas las etapas de la contratación.
  </p>
  <p>
    Declaro como Proveedor y/o Contratista del Estado panameño que, conozco, 
    comprendo y me adhiero a los Principios de Sostenibilidad para Proveedores del 
    Estado.
  </p>
  <p>      
    Reconozco que Los Principios de Sostenibilidad para Proveedores del Estado 
    constituyen no solo una forma de llevar a cabo de manera correcta nuestras 
    actividades comerciales, sino que constituyen un medio para mejorar las 
    condiciones de vida y de trabajo de las personas a lo largo de la cadena 
    de suministro, contribuyendo a alcanzar los Objetivos de Desarrollo Sostenible
    (ODS).
  </p>
  
</br></br></br>
  <p>
    <strong>
      _______________________________________</br>
      NOMBRE: SERGEI PLOTNIKOFF DE LA GUARDIA</br>
      Cédula: 8-203-2662</br>
      Fecha: {{day}} de {{month}} de {{year}}
    </strong>
  </p>






</body>

</html>
