<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DECLARACIÓN JURADA DE MEDIDAS DE RETORSIÓN
  </title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 12pt;
      color: #333;
    }
    h1 {
      font-size: 12pt;
      text-align: center;
    }

    p {
      text-align: justify;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

  </style>
</head>

<body>
  
</br>
  <h1>FORMULARIO DE DECLARACIÓN JURADA DE NO INCAPACIDAD PARA CONTRATAR</h1>
<div style="text-align: right; margin-top: 30px;">Panamá, {{day}} de {{month}} de {{year}}</div>

<div>
    Su Excelencia</br>
    <strong>José Luis Andrade</strong></br>
    Ministro</br>
    MINISTERIO DE OBRAS PÚBLICAS</br>
    E.S.D.</br>
    </br>
</div>
<div>Señor Ministro:</div>
  <p>En cumplimiento de lo establecido en el artículo 24 del Texto Único de la 
    Ley 22 de 2006,ordenado por la Ley 153 de 2020, reglamentado por el artículo 
    8 del Decreto Ejecutivo No.439 de 2020, el suscrito <strong><u>SERGEI PLOTNIKOFF
    DE LA GUARDIA</u></strong>, varón, panameño, mayor de edad, ingeniero civil, casado, con cédula
    No. 8-203-2662, vecino de esta ciudad, actuando en mi condición de representante 
    legal de <strong><u>CONSORCIO OBRAS CIVILES PANAMÁ</u></strong>, conformado por las empresas
    <strong><u>PINELLAS, S.A.</u></strong>, sociedad debidamente constituida
    conforme a las Leyes de la República de Panamá, a Ficha: 439268, Documento: 525627,
    Imagen: 1, e <strong><u>INMOBILIARIA EL PUENTE, S.A.</u></strong>sociedad 
    debidamente constituidaconforme a las Leyes de la República de Panamá, a 
    Ficha: 530321, Documento: 972964,Imagen: 1, declaro bajo la gravedad de juramento,
    lo siguiente:
  </p>
  <p>
    Que la persona jurídica antes descrita que presenta la propuesta en el Proyecto
    denominado <strong>{{projectName}}</strong>, por medio de <strong>CONSORCIO OBRAS 
    CIVILES PANAMA</strong>, no se
    encuentra incapacitada para contratar con El Estado, de acuerdo a los supuestos
    contemplados en las normas señaladas en el primer párrafo. En consecuencia, está
    plenamente facultada para participar y presentar propuestas, en el proyecto
    <strong>{{projectName}}</strong>.
  </p>
  <p>      
    En fe de lo anterior, se firma este documento en la ciudad de Panamá, hoy {{day}}
     de {{month}} de {{year}}.
  </p>
  
</br></br></br>
  <p>
    <strong>
      _______________________________________</br>
      SERGEI PLOTNIKOFF DE LA GUARDIA</br>
      CÉDULA: 8-203-2662</br>
      REPRESENTANTE LEGAL</br>
      CONSORCIO OBRAS CIVILES PANAMÁ
    </strong>
  </p>







</body>

</html>
