<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DECLARACIÓN JURADA DE MEDIDAS DE RETORSIÓN
  </title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 12pt;
      color: #333;
    }
    h1 {
      font-size: 12pt;
      text-align: center;
    }

    p {
      text-align: justify;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f4f4f4;
      font-weight: bold;
    }

  </style>
</head>

<body>

</br>
  <h1>DECLARACIÓN JURADA DE MEDIDAS DE RETORSIÓN</h1>
<div style="margin-top: 30px;text-align: right;">Panamá, {{day}} de {{month}} de {{year}}</div>

<div>
    Su Excelencia</br>
    <strong>José Luis Andrade</strong></br>
    Ministro</br>
    MINISTERIO DE OBRAS PÚBLICAS</br>
    E.S.D.</br>
    </br>
</div>
<div>Señor Ministro:</div>
  <p>En cumplimiento de lo establecido en el artículo 12 de la Ley No. 48 de 
    26 de octubre de 2016, el suscrito <strong>SERGEI PLOTNIKOFF DE LA GUARDIA 
    </strong>, varón, panameño, mayor de edad, ingeniero civil, casado, con 
    cédula de identidad personal No. 8-203-2662, vecino de esta ciudad, actuando en 
    mi condición de representante legal de <strong>CONSORCIO OBRAS CIVILES 
      PANAMÁ</strong>, conformado por las empresas <strong>PINELLAS, S.A.</strong>,
    sociedad debidamente constituida conforme a las Leyes de la República de Panamá, 
    debidamente inscrita en el Registro Público de Panamá a Ficha: 439268, Documento: 
    525627, Imagen: 1, con domicilio en la Provincia de Panamá, Distrito de Panamá, 
    Corregimiento de Betania, Urbanización Los Ángeles, Calle 63 A, Casa D 12, 
    teléfono: 394-0199, e <strong>INMOBILIARIA EL PUENTE, S.A.</strong>,
    sociedad debidamente constituida conforme a las Leyes de la República de Panamá, 
    debidamente inscrita en el Registro Público de Panamá a Ficha: 530321, Documento: 
    972964, Imagen: 1, con domicilio en la Provincia de Bocas del Toro, Distrito 
    de Changuinola, Corregimiento de Changuinola (Cabecera), Urbanización Changuinola,
    Calle 17 de abril, Edificio Wolf Mall Center, Planta Baja, teléfono: 758-5410;
    declaro lo siguiente:
  </p>
  <ol>
    <li>
      Que no soy una persona natural de un Estado al que se le aplican medidas de
      retorsión o una persona jurídica incorporada, domiciliada, controlada, organizada,
      constituida, administrada o con domicilio principal en un Estado al que se aplican
      medidas de retorsión conforme a la Ley No. 48 de 26 de octubre de 2016.
    </li>
    <li>
      Que no mantengo beneficiarios finales, directa o indirectamente, cuya nacionalidad
      sea de un país al que se le aplican medidas de retorsión o una persona jurídica
      incorporada, domiciliada, controlada, organizada, constituida, administrada o con
      domicilio principal en un Estado al que se aplican medidas de retorsión conforme a la
      Ley No. 48 de 2016.
    </li>
    <li>
      Que al presentarme como proponente no actúo en representación de una persona
      natural de un Estado al que se le aplican medidas de retorsión o de una persona
      jurídica incorporada, domiciliada, controlada, organizada, constituida, administrada o
      con domicilio principal en un Estado al que se aplican medidas de retorsión conforme
      a la Ley No. 48 de 26 de octubre de 2016.
    </li>
    <li>
      Que en la ejecución del procedimiento de selección de contratista de que se trate y
      de las obligaciones dimanantes de ésta, el valor de los sueldos, bienes, servicios,
      obras pública, arrendamientos, valores, títulos o fondos a proveer por parte de la
      persona natural o jurídica, de Derecho Público o de otra índole, correspondiente o
      cualquier combinación de estos, proveniente de Estados a los cuales se le aplican
      medidas de retorsión conforme a la Ley No. 48 de 26 de octubre de 2016, no superará
      el diez (10%) del valor total del acto público o contratación pública de que se trate, o el
      diez por ciento (10%) del valor anual de dicho acto público o contratación pública, si
      esta es de naturaleza renovable o recurrente, en cada período para el cual sea
      renovado o extendido.
    </li>
  </ol>
  
  <p>      
    Dada en la Ciudad de Panamá, {{dayOfMonth}} del mes de {{month}} de {{year}}.
  </p>
  
</br></br></br>
  <p>
    <strong>
      _______________________________________</br>
      SERGEI PLOTNIKOFF DE LA GUARDIA</br>
      CÉDULA: 8-730-2346</br>
      REPRESENTANTE LEGAL</br>
      CONSORCIO OBRAS CIVILES PANAMÁ
    </strong>
  </p>






</body>

</html>
